doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Nombre perron
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css")
    link(rel="stylesheet", href="static/assets/main.css")
  body(style="display: flex; min-height:100vh; flex-direction: column")
    scrpt(defer src='https://use.fontawesome.com/releases/v5.15.3/css/all.css')
    include navbar.pug
    block hero
    block content 
    include footer.pug
